* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables: stored css definitions to use through the css file as variables*/
:root {
  /** Colors **/

  /* Primary  */
  --Aurometal-Saurus: #6c7289;
  --Gunmetal: #1c232b;
  --Cream-bg: #f2eae2;

  /* Neutral */
  --Pure-White: #fff;
  --Deep-Aquamarine: #3d8168;
  --Deep-Aquamarine-hover: #1a4032;
}

/* Set defualt styles for body elements */
body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: var(--Aurometal-Saurus);
  background: var(--Cream-bg);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 16px;
}

.product-card {
  width: 100%;
  height: 100%;
}

.product-card .product-img,
.product-description {
  width: 100%;
}

.product-card .product-img {
  height: 45%;
  background-image: url(/assets/img/image-product-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}

.product-card .product-description {
  height: 55%;
  padding: 24px;
  background: var(--Pure-White);
  border-radius: 0 0 10px 10px;
}

.product-card .product-description .heading,
.product-card .product-description .description,
.product-card .product-description .footing {
  height: 33.33%;
  display: flex;
}

.product-card .product-description .heading {
  flex-direction: column;
  justify-content: space-around;
}

.product-card .product-description .heading h2 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5px;
}

.product-card .product-description .heading h1 {
  font-family: Fraunces;
  color: var(--Gunmetal);
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
}

.product-card .product-description .description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 23px;
}

.product-card .product-description .footing {
  flex-direction: column;
}

.product-card .product-description .footing {
  flex-direction: column;
  justify-content: space-between;
}

.product-card .product-description .footing .price {
  height: 50%;
  display: flex;
  align-items: center;
}

.product-card .product-description .footing .price .cur-price {
  font-family: Fraunces;
  font-size: 32px;
  color: var(--Deep-Aquamarine);
  font-weight: 700;
  line-height: 32px;
}

.product-card .product-description .footing .price .prev-price {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  text-decoration-line: line-through;
  margin-left: 20px;
}

.product-card .product-description .footing button {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Deep-Aquamarine);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  transition: all 0.35s ease-in-out;
}

.product-card .product-description .footing button:hover {
  cursor: pointer;
  background-color: var(--Deep-Aquamarine-hover);
}

.product-card .product-description .footing button img {
  margin-right: 8px;
}

/* Media Queries */

/* Tablet */
@media (min-width: 768px) {
  .product-card .product-description {
    padding: 7% 8%;
  }

  .product-card .product-description .heading h2 {
    font-size: 24px;
  }

  .product-card .product-description .heading h1 {
    font-size: 48px;
    line-height: 42px;
  }

  .product-card .product-description .description {
    font-size: 20px;
    width: 90%;
    line-height: 30px;
  }

  .product-card .product-description .footing .price .cur-price {
    font-size: 45px;
  }

  .product-card .product-description .footing .price .prev-price {
    font-size: 20px;
  }

  .product-card .product-description .footing button {
    height: 60px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .product-card {
    width: 600px;
    height: 450px;
    display: flex;
  }

  .product-card .product-img,
  .product-card .product-description {
    width: 50%;
    height: 100%;
  }

  .product-card .product-img {
    border-radius: 10px 0 0 10px;
    background-image: url(/assets/img/image-product-desktop.jpg);
  }

  .product-card .product-description {
    border-radius: 0 10px 10px 0;
    padding: 32px;
  }

  .product-card .product-description .heading h2 {
    font-size: 12px;
  }

  .product-card .product-description .heading h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .product-card .product-description .description {
    font-size: 14px;
    width: 90%;
    line-height: 23px;
  }

  .product-card .product-description .footing .price .cur-price {
    font-size: 32px;
  }

  .product-card .product-description .footing .price .prev-price {
    font-size: 13px;
  }

  .product-card .product-description .footing button {
    height: 48px;
  }
}
